@import url('https://fonts.googleapis.com/css?family=Alata');
/* .message-dialog{
    width: 100%;
    height: 100%;
    background-color:rgb(238, 238, 238);
    opacity: 0.6;
    position: fixed;
}
.message-dialog-content{
    width: 300px;
    height: 150px;
    margin:100px auto;
    text-align: center;
    background-color: rgb(255, 9, 9);
    border-radius: 25px;
}
.message-dialog-content h3{
    font-size: 43px;
    text-align: center;
    line-height:100px;
    margin:0 auto
}
.btn-confirm{
    
} */
.login img {
    border-radius: 50%;
    width: 30px;
    display: inline-block;
    margin-bottom: 50px;
}

.detail-infor {
    border-bottom: 2px solid black;
}
/* practice */

.practice_block {
    margin-top: 30px;
    height: max-content;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(161, 227, 216);
    flex-direction: column;
    display: flex;

}

.question_block {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 150px;
    background-color: rgb(6, 154, 142);
    display: flex;
    text-align: center;
    border-radius: 15px;
    border-bottom: 3px solid rgb(0, 85, 85);
}

.question {
    margin: auto;
    width: 100%;
    align-content: center;
    height: auto;
    text-align: center;
}

.question_content {
    font-family: 'Alata', sans-serif;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: rgb(0, 85, 85);
}
.content-question{
    display: flex;
    justify-content: space-around;
}
.time-running, .score{
    font-family: 'Alata', sans-serif;
    font-size:70px;
    margin: auto;
    color: rgb(96, 141, 134);
    text-align: center;
    
}
.question_image_contain {
    height: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.question_img {

    object-fit: contain;
    height: 300px;
    width: auto;
}

.answer_contain {
    height: 300px;
    display: grid;
    grid-template-columns: 45 45;
    gap: 10px;
    padding: 10px;
    grid: auto / auto auto;
}
.question-number {
    width: 100%;
    height: auto;
    margin: 10px auto;
}
.list-question {
    width: 50%;
    height: auto;
    display: flex;
    text-decoration: none;
    list-style: none;
    margin: auto;
}
.question--item{
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius:5px;
    border: 1px solid;
    text-align: center;
}
.question--item a{
    text-decoration: none;
    display: block;
    line-height:50px;
}
.answer_button1 ,.answer_button2 ,.answer_button3 ,.answer_button4{
    border-radius: 15px;
    box-sizing: border-box;
    display: inline-block;
    font-family: "Alata", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
}
.answer_button1 ,.answer_button2 ,.answer_button3 ,.answer_button4:hover{
    cursor: pointer;
}
.answer_button1:active, .answer_button2:active, .answer_button3:active, .answer_button4:active{
    opacity: 0.5;
}
.score, .time-running{
    width: 200px;
    text-shadow: 2px 2px 2px #000000;;
}
.answer_button1{
    background-color: rgb(255, 107, 107);
    border: 1px solid rgb(160, 38, 38);
    border-bottom: 3px solid rgb(160, 38, 38);
    color: rgb(160, 38, 38);
}
.answer_button2 {
    background-color: rgb(255, 217, 61);
    border: 1px solid rgb(126, 107, 30);
    border-bottom: 3px solid rgb(126, 107, 30);
    color: rgb(126, 107, 30);
}
.answer_button3 {
    background-color: rgb(107, 203, 119);
    border: 1px solid rgb(47, 99, 54);
    border-bottom: 3px solid rgb(47, 99, 54);
    color: rgb(47, 99, 54);
}
.answer_button4 {
    background-color: rgb(77, 150, 255);
    border: 1px solid rgb(30, 59, 99);
    border-bottom: 3px solid rgb(30, 59, 99);
    color: rgb(30, 59, 99);
}

/* footer */

.footer-top {
    border-top: 1px solid black;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: rgb(238, 0, 51);
}

.footer-bottom {
    height: 50px;
    background-color: rgb(255, 166, 187);
    padding-top: 30px;
    display: flex;
    justify-content: center
}

.container {
    width: 1120px;
    color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
}