*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.homepage-container {

}

/* HEADER */

.homepage-container .header {
    width: 100%;
    height: 90px;
    border: 1px solid #ccc;
}

.header .header-content_wrapper {
    height: 100%;
    margin-left: 342px;
    margin-right: 342px;
}

.header-content_wrapper .header-content {
    display: flex;
    height: 100%;
}

    /* LEFT CONTETN */
    .header-content .left_content{
        display: flex;
        align-items: center;
        height: 100%;
        gap: 20px;
    }

    .header-content .left_content .left_content-item {
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }

    .left_content .left_content-item img {
        width: 63px;
    }


    /* RIGHT CONTENT  */
    .header-content .right_content {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
        gap: 30px;
    }

    .header-content .right_content .right_content-item {
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
    }

    .header-content .right_content .SignUp_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 115px;
        height: 42px;
        background-color: #5574FC;
        color: #fff;
        border-radius: 4px;
        font-size: 18px;
        cursor: pointer;
    }

    .header-content .right_content .SignUp_btn:hover {
        background-color: #425fe6;
    }

/*  */

.homepage-container .yellow-bar {
    width: 100%;
    height: 62px;
    background-color: #FED502;
}

.homepage-container .white-bar {
    width: 100%;
    height: 91px;
    background-color: #fff;
}

/* LESSON WRAPPER */

.homepage-container .lesson {
    background-color: #f7f3ea;
    height: 1000px;
}

    .lesson .lesson-wrapper {
        height: 100%;
        margin: 0 200px;
    }

    .lesson-wrapper .lesson-title {
        display: flex;
        flex-direction: column;
       
        padding-top: 30px;
        text-align: center;
    }

        .lesson-title .title1 {
            margin-bottom: 20px;
            font-size: 30px;
            font-weight: 600;
        }

        .lesson-title .title2 {
            width: 80%;
            margin: 0 auto;
            font-size: 43px;
            font-weight: 600;
        }

    .lesson-wrapper .lesson-content {
        display: flex;
        width: 100%;
        gap: 50px;
        margin: 50px auto;
    }

        .lesson-wrapper .lesson-content .img_wrapper {
            display: flex;
            width: 100%;
        }

        .lesson-wrapper .lesson-content img{
            width: 200px;  
            height: 200px;
            margin: 30 auto;
        }
    .lesson-wrapper .lesson-content2 {
        display: flex;
        width: 100%;
        gap: 216px;
        margin: 10px auto;
    }
        .lesson-wrapper .lesson-content2 .title-img{
            margin-bottom: 36px;
            font-size: 30x;
            font-weight: 600;
        }
    .lesson-wrapper .lesson-content3{
        width: 100%;
        height: 60px;
    }
        .lesson-wrapper .lesson-content3 .img_loudspeaker{
            display: flex;
            width: 100%;
            height: 60px;
            margin: 0 500px;
        }
    .lesson-wrapper .lesson-content4{
        width: 100%;
        height: 500px;
        margin: 30px 0px;
    }
        .lesson-wrapper .lesson-content4 .table{
            width: 100%;
            margin: 0px 150px;
        }
            .lesson-content4 .table, th, td{
                border: 0px solid;
                font-size: 40px;
            }
            .lesson-content4 .table .imgContent1{
                width: 60px;
                height: 60px;
                gap: 30px;
            }
            .lesson-content4 .table .imgContent2{
                width: 100px;
                height: 100px;
            }
                
