@import url('https://fonts.googleapis.com/css?family=Alata');

li {
    list-style: none;
}

a {
    font-family: 'Roboto', sans-serif;
    color: black;
    text-decoration: none
}


/* header */

header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}

nav {
    width: 1200px;
    height: 60px;
    margin-top: 0px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    text-align: center;
    position: fixed;
}

nav div {
    margin-top: 0px;
    display: inline-block;
    text-align: center;
}

nav div ul {
    display: flex;
    justify-content: space-between;
}

.login img {
    border-radius: 50%;
    width: 30px;
    display: inline-block;
    margin-bottom: 50px;
}

nav .web_name a:hover {
    border-bottom: 2px solid red;
}

nav .web_menu a:hover {
    border-bottom: 2px solid red;
}


/* section */

section {
    text-align: center
}

section div {
    width: 800px;
    display: inline-block;
}

section div ul {
    width: 800px;
    display: flex;
}

.detail-infor {
    border-bottom: 2px solid black;
}


/* practice */

.practice_block {
    margin-top: 30px;
    height: max-content;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(161, 227, 216);
    flex-direction: column;
    display: flex;

}

.question_block {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 150px;
    background-color: rgb(6, 154, 142);
    display: flex;
    text-align: center;
    border-radius: 15px;
    border-bottom: 3px solid rgb(0, 85, 85);

}

.question {
    margin: auto;
    width: 100%;
    align-content: center;
    height: auto;
    text-align: center;
}

.question_content {
    font-family: 'Alata', sans-serif;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
    color: rgb(0, 85, 85);
}

.question_image_contain {
    height: 300px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.question_img {

    object-fit: contain;
    height: 300px;
    width: auto;
}

.answer_contain {
    height: 300px;
    display: grid;
    grid-template-columns: 45 45;
    gap: 10px;
    padding: 10px;
    grid: auto / auto auto;
}

.answer_button1 {
    background-color: rgb(255, 107, 107);
    border: 1px solid rgb(160, 38, 38);
    border-radius: 15px;
    border-bottom: 3px solid rgb(160, 38, 38);
    box-sizing: border-box;
    color: rgb(160, 38, 38);
    display: inline-block;
    font-family: "Alata", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
}

.answer_button2 {
    background-color: rgb(255, 217, 61);
    border: 1px solid rgb(126, 107, 30);
    border-radius: 15px;
    border-bottom: 3px solid rgb(126, 107, 30);
    box-sizing: border-box;
    color: rgb(126, 107, 30);
    display: inline-block;
    font-family: "Alata", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
}

.answer_button3 {
    background-color: rgb(107, 203, 119);
    border: 1px solid rgb(47, 99, 54);
    border-radius: 15px;
    border-bottom: 3px solid rgb(47, 99, 54);
    box-sizing: border-box;
    color: rgb(47, 99, 54);
    display: inline-block;
    font-family: "Alata", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
}

.answer_button4 {
    background-color: rgb(77, 150, 255);
    border: 1px solid rgb(30, 59, 99);
    border-radius: 15px;
    border-bottom: 3px solid rgb(30, 59, 99);
    box-sizing: border-box;
    color: rgb(30, 59, 99);
    display: inline-block;
    font-family: "Alata", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
}




/* footer */

.footer-top {
    border-top: 1px solid black;
    margin-top: 500px;
    display: flex;
    justify-content: center;
    height: 200px;
    background-color: rgb(238, 0, 51);
}

.footer-bottom {
    height: 50px;
    background-color: rgb(146 0 33);
    padding-top: 30px;
    display: flex;
    justify-content: center
}

.container {
    width: 1120px;
    color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
}