<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.user.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.user.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.user.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reset_passwordServlet</servlet-name>
        <servlet-class>controller.user.Reset_passwordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ProcessHomePage</servlet-name>
        <servlet-class>controller.user.ProcessHomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessProfile</servlet-name>
        <servlet-class>controller.user.ProcessProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessImage</servlet-name>
        <servlet-class>controller.user.ProcessImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserStatistics</servlet-name>
        <servlet-class>controller.admin.UserStatistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonServlet</servlet-name>
        <servlet-class>controller.user.LessonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessAddLesson</servlet-name>
        <servlet-class>controller.admin.ProcessAddLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessAddQuestionWord</servlet-name>
        <servlet-class>controller.admin.ProcessAddQuestionWord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckAvatar</servlet-name>
        <servlet-class>controller.user.CheckAvatar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessArchivement</servlet-name>
        <servlet-class>controller.user.ProcessArchivement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LessonStatistics</servlet-name>
        <servlet-class>controller.admin.LessonStatistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>controller.admin.deleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PracticeServlet</servlet-name>
        <servlet-class>controller.user.PracticeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reset_passwordServlet</servlet-name>
        <url-pattern>/reset_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessHomePage</servlet-name>
        <url-pattern>/ProcessHomePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessProfile</servlet-name>
        <url-pattern>/ProcessProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessImage</servlet-name>
        <url-pattern>/ProcessImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserStatistics</servlet-name>
        <url-pattern>/UserStatistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonServlet</servlet-name>
        <url-pattern>/LessonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessAddLesson</servlet-name>
        <url-pattern>/ProcessAddLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessAddQuestionWord</servlet-name>
        <url-pattern>/ProcessAddQuestionWord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckAvatar</servlet-name>
        <url-pattern>/CheckAvatar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessArchivement</servlet-name>
        <url-pattern>/ProcessArchivement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LessonStatistics</servlet-name>
        <url-pattern>/LessonStatistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/deleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PracticeServlet</servlet-name>
        <url-pattern>/PracticeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
