:root{
    --white-color:#fff;
    --black-color:#000;
    --gray-color:#ccc;
    --red-color:#f00;
    --green-color:#0f0;
    --blue-color:#00f;
    --yellow-color:#ff0;
    --orange-color:#f60;
    --pink-color:#f0f;
    --purple-color:#f0f;
    --brown-color:#f60;
    --cyan-color:#0ff;
    --light-gray-color:#eee;
    --dark-gray-color:#666;
    
    --header-hight:1rem;
}
*{
    box-sizing: border-box;
}
body{
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}
html{
    font-size: 62.5%;
}
.wrapper {
    width: 100%;
    height: 100%;
}
ul{
    margin:0;
    padding:0;
}