*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
/* LESSON WRAPPER */
.main-content {
    height: 100%;
}
.lesson-wrapper .lesson-title {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    text-align: center;
}
.lesson-title .title1 {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
}

.lesson-title .title2 {
    width: 80%;
    margin: 0 auto;
    font-size: 43px;
    font-weight: 600;
}
.lesson-content {
    width: 100%;
    gap: 50px;
    margin: 50px auto;
    width: 80%;
}

.lesson-content .img_wrapper {
    display: flex;
    width: 100%;
}
.content-img{
    display: flex;
    
}
.lesson-content img{
    width: 200px;  
    height: 200px;
    margin: 30px auto;
}
.content-item{
    display: flex;
    justify-content:space-around;
    text-align: center;
    height:150px;
    margin-top: 25px;
}
.content-item .img-sound{
    width: 43px;
    height: 43px;
    margin:auto;
}
.content-item .img-item{
    width: 150px;
    height: 150px;
    border:1px solid #ccc
}
.content-item h3{
    font-size: 43px;
    text-align: center;
    margin: auto;
}
.list-content{
}
.footer-top {
    border-top: 1px solid black;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: rgb(238, 0, 51);
}

.footer-bottom {
    height: 50px;
    background-color: rgb(255, 166, 187);
    padding-top: 30px;
    display: flex;
    justify-content: center
}
