.main-content{
    width:100%;
    height:100%;
    border-radius: 5rem;
}
.banner{
    margin: 3rem 3rem 3rem 3rem;
    box-shadow: 5px 5px 10px black;
    border-radius:3.5rem;
    display: flex;
    background-color: #235390;
    background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/star-pattern.svg);
}
.banner__introduce{
    margin: 3rem 3rem 10rem 8rem;
    border-radius:3.5rem;
    display: flex;
    height:50rem;
}
.banner__introduce h3{
    color: #231f20;
}
.banner__learning, .banner__practice {
    height:55rem;
}
.banner__content {
    margin: auto;
    display: flex;
}
.banner__content--image-area img{
    width:50rem
}
.banner__content--text{
    padding: 1rem;
    color: #fff;
    font-size:3rem;
    font-weight: bold;
}
.banner__content--text h3{
    max-width:85rem;
    text-align: left;
    line-height: 7rem;
    font-size:5rem;
}
.banner__content--btn-area{
    margin: 5rem auto;
}
.btn-success{
    width: 20rem;
    height:6rem;
    border-radius:1rem ;
    background-color: #5774fc;
}
.btn-success:hover{
    background-color: #4264fd;
}
.btn--start{
    margin: auto !important;
}
.btn--start a{
    display: block;
    line-height: 5rem;
    text-align: center;
    text-decoration: none;
    color: var(--white-color);
}
.nav{
    height:50px;
    width: 100%;
    background-color: #ffcb00;
}
.footer-top {
    border-top: 1px solid black;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: rgb(238, 0, 51);
}

.footer-bottom {
    height: 50px;
    background-color: rgb(255, 166, 187);
    padding-top: 30px;
    display: flex;
    justify-content: center
}
