:root{
    --white-color:#fff;
    --black-color:#000;
    --gray-color:#ccc;
    --red-color:#f00;
    --green-color:#0f0;
    --blue-color:#00f;
    --yellow-color:#ff0;
    --orange-color:#f60;
    --pink-color:#f0f;
    --purple-color:#f0f;
    --brown-color:#f60;
    --cyan-color:#0ff;
    --light-gray-color:#eee;
    --dark-gray-color:#666;
    
    --header-hight:1rem;
}
*{
    box-sizing: border-box;
}
body{
    background-color: var(--white-color);
    color: var(--black-color);
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}
html{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    background: #fff;
}
.wrapper {
    width: 100%;
    height: 100%;
    background: #fff;
}
ul{
    margin:0;
    padding:0;
}
.nav{
    height:50px;
    width: 100%;
    background-color: #ffcb00;
}
.btn{
    display: inline-block;
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px;
    height: 40px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    background: #ffcb00;
}
.btn:hover{
    moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background: #f5e298;
}
.message-error{
    width: 100%;
    height: 75px;
    background:#ff3333;
    color: red;
}